.App {
  text-align: center;
}

.container {
  width: 200px;
  height: 70px;
  background-color: bisque;
  margin: 30px;
}

.prr {
  width: 200px;
  height: 70px;
  background-color: rgb(221, 124, 6);
  margin: 30px;
}